@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1, h2 {
  font-family: 'Silkscreen', cursive;
}

.flex {
  display: flex;
}

.overflow-x-auto {
  overflow-x: auto;
}

.space-x-4 > * + * {
  margin-left: 1rem;
}

.transition-opacity {
  transition: opacity 0.5s;
}

.transition-transform {
  transition: transform 0.5s;
}

.translate-y-full {
  transform: translateY(100%);
}

.translate-y-0 {
  transform: translateY(0);
}

/* Custom Scrollbar for WebKit Browsers */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #f97316; /* Orange color */
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ea580c; /* Darker orange color */
}

/* Custom Scrollbar for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #f97316 #f1f1f1;
}